* {
  font-family: "Roboto", sans-serif;
}

.left-menu-Rborder {
  border-right: 1px solid rgb(204, 204, 204);
}

.img-leftMenu-container {
  width: 40px;
  height: 40px;
}
.border-black {
  border: 3px solid black;
}

/* .top-img-container {
  width: 150px;
  height: 150px;
} */
.img-profile {
  min-width: 150px;
  width: 150px;
  height: 150px;
}
.a-custom-style {
  text-decoration: none;
  color: black;
}

.a-bg {
  background-color: rgba(204, 204, 204, 0.418);
}
.profile-container {
  height: 300px;
}
.bottom-profile-border {
  border-bottom: 1px solid rgb(204, 204, 204);
}

.list-custom {
  line-height: 20px;
}
.img-height {
  height: 300px;
}

.card-like {
  top: 0px;
  left: 0px;
  opacity: 0;
  background-color: #000000a3;
}

.card-like:hover {
  opacity: 1;
}

.custom-gap {
  gap: 100px;
}

.custom-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto auto;
}
.grid-picture {
  grid-column: 1/2;
  grid-row: 1/3;
}
.grid-actions {
  grid-column: 2/3;
  grid-row: 1/2;
}
.grid-desc {
  grid-column: 2/3;
  grid-row: 2/3;
}
.card-wrapper {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.img-box {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}
.img-box img {
  position: absolute;
  left: -10000%;
  right: -10000%;
  top: -10000%;
  bottom: -10000%;
  margin: auto auto;
  min-width: 1000%;
  min-height: 1000%;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
}

/* Home Page classes */
.stories-list {
  background-color: #cc3d90cc;
  height: 69px;
  width: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-stories-list {
  background-color: white;
  padding: 2px;
  height: 65px;
  width: 65px;
}
.text-stories-list {
  width: 70px;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .list-custom {
    line-height: 17px;
  }
  .custom-grid {
    grid-template-columns: 200px 1fr;
  }
  .grid-desc {
    grid-column: 1/3;
  }
  .grid-picture {
    grid-row: 1/2;
  }
}
